.logo-image {
  height: 100%;
  width: 30px;
  margin: 0px 10px 0px 10px;
  border-radius: 50%;
}
.fundingRound {
  width: 100%;
}
.fundingRound::-webkit-scrollbar {
  width: 12px;
}
.fundingRound::-webkit-scrollbar-track {
  background-color: darkgrey;
  border-radius: 10px;
}
.fundingRound::-webkit-scrollbar-thumb {
  /* box-shadow: inset 0 0 6px rgb(151, 4, 4); */
  background-color: #eed0a8;
  height: 200px;
  border: none;
  border-radius: 10px;
}
thead {
  white-space: nowrap;
}
tbody {
  overflow: auto;
}
tr {
  white-space: nowrap;
  height: 55px;
}
th {
  color: black;
  font-weight: normal !important;
  border-bottom: none !important;
}
.item-name {
  white-space: nowrap;
}
.name {
  background-color: white;
}
.size {
  font-size: 18px;
  font-weight: 400 !important;
}
.watchlist-star {
  font-size: 20px;
}
.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  top: 150px;
  transform: translate(-50%, -50%);
}
@media (max-width: 1000px) and (min-width: 990px) {
  .fundingRound {
    width: 100% !important;
  }
}
@media (max-width: 1000px) {
  .size {
    font-size: 16px;
  }
  .fundingRound {
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: #eed0a8;
    scrollbar-width: thin;
    width: 100%;
  }
}
@media (max-width: 900px) {
  .fundingRound {
    width: 100%;
    margin-left: 0px !important;
  }
}
@media screen and (max-width: 700px) {
  .fundingRound {
    overflow-x: auto;
    overflow-y: hidden;
  }
}
@media(max-width: 500px) {
  .logo-image {
    width: 28px;
  }
  .watchlist-star {
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  .logo-image {
    width: 26px;
  }
  .watchlist-star {
    font-size: 17px;
  }
}